@import "./header",
"./footer",
"./mediaquerys",
"./body";


* {
    background-color: #0883AA;
    font-family: "rock";
}

@font-face {
    font-family: "rock";
    src: url(../fonts/RocknRollOne-Regular.ttf);
}