@import "./header",
"./footer",
"./mediaquerys",
"./body",
"./style-pages/catalogos.scss",
"./style-pages/contacto.scss",
"./style-pages/locales.scss",
"./style-pages/log-registro.scss",
"./style-pages/nosotros.scss";

* {
    background-color: #0883AA;
    font-family: "rock";
}

@font-face {
    font-family: "rock";
    src: url(../fonts/RocknRollOne-Regular.ttf);
}