* {
    background-color: #0883AA;
    font-family: "rock";
}

@font-face {
    font-family: "rock";
    src: url(./fonts/RocknRollOne-Regular.ttf);
}

header {
    width: 100%;
    background-color: gray;
    padding: 15px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.bi-search {
    background-color: transparent;
}

section {
    width: 100%;
    height: 100%;
}

.nosotros {
    width: 100%;
    height: 36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 1.5rem;
}

.zapatillas {
    height: 20rem;
    width: 25rem;
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

article {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.navegacion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem;
}


.etiquetas {
    padding: 2rem;
}

footer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 4rem;
}

.col {
    color: black;
}

.stone {
    height: 30rem;
    width: 30rem;
    margin-left: 40REM;

}

p {
    text-align: center;
    width: 100%;
    padding: 2rem;

}

input::placeholder {
    color: black;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 2rem;
}

.inputform {
    width: 70%;
    background-color: white;
}

.mapa {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.mapaImg {
    width: 80%;
    height: 80%;
    max-width: 800px;

}

@media only screen and (min-width:1240px) {
    .locs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
    }

    .video {
        width: 50%;
        height: 100%;
    }
}

@media only screen and (max-width:1239px) {
    .locs {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;


    }

    .log {
        display: none;
    }


    .inputform {
        margin: 1rem;
        font-size: 0.8rem;
    }

    .video {
        width: 90%;
        height: 100%;
    }
}